@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/Content/homePage.css">

<link href="@Url.Content("~/Content/homePage.css")" rel="stylesheet" type="text/css" />

<div class="jumbotron">
    <img class="jsobadge" src="~/Content/img/jsobadge.png"/>
    <h1>JSO MVC</h1>
    <p class="lead">
        This is an example MVC Application I have made for you. It resides in AWS behind a load balancer (that crazy URL). You
        can do several things with this app. A good place to start, is create some data objects in the Add Records Tab.
        Under the Add Records Tab, you will be able to add Police Officers, Suspects and Crime Definitions. When you are done with that, you can use
        the content you created to build cases in the Case Manager. This app aslo features a no-sql persistant data
        set in the Api Tab.
    </p>
    <p><a href="https://github.com/JohnathonCook/JSOMVC" class="btn btn-primary btn-lg">Source Code &raquo;</a></p>
</div>

